<a href="https://colab.research.google.com/github/FilipeSquire/Statistics-Tools/blob/main/Amostragens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importação das bibliotecas
import pandas as pd
import numpy as np

# Amostragem Simples

In [ ]:
#Carregando a base de dados de exemplo
base = pd.read_csv('C:/Users/DM Brasil/Desktop/Curso DS/Est1/iris.csv')

In [ ]:
#Verificando linhas e colunas
base.shape

(150, 5)

In [ ]:
#Mudança da semente aleatoria para manter os resultados em varias execuções
np.random.seed(2345)

#150 amostras de 0  a 1, com reposição, probabilidades diferentes
amostra = np.random.choice(a = [0,1],
                          size = 150,
                          replace = True,
                          p = [0.7, 0.3]) #quantos % voce quer utilizar 

#check tamanho da amostra
len(amostra)
#check tamanho da amostra para cada valor
len(amostra[amostra==1])
len(amostra[amostra==0])

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

In [ ]:
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)

# Amostragem de Dados Estratificada

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#Carregamento da base de dados e contagem de quantos registros existem por classe
base['class'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [ ]:
# iris.iloc[:, 0:4]: buscamos somente os atributos previsores, dados de pétala e sétala da planta
# iris.iloc[:, 4]: buscamos somente a classe, que é a espécie da planta (Setosa, virginica ou versicolor)
# test_size: seleciona 50% da base que é copiado para X e Y. Retorna 4 valores, mas como vamos usar
#somente 50% da base, colocamos '_' para os outros valores
# stratify: retorna a amostra baseada na classe
x, _, y, _ = train_test_split(base.iloc[:,0:4], #colunas numericas
                              base.iloc[:,4], #coluna categorica
                              test_size = 0.5, #amostra
                              stratify = base.iloc[:,4]) #amostra estratificada na column 4
y.value_counts()

Iris-versicolor    25
Iris-virginica     25
Iris-setosa        25
Name: class, dtype: int64

In [ ]:
#Carregamento da base de dados e contagem por classe
infert = pd.read_csv('C:/Users/DM Brasil/Desktop/Curso DS/Est1/infert.csv')
infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [ ]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [ ]:
#Criando uma amostra com somente 40% dos registro (define-se 0.6, pois o resultado é o inverso: 1 - 0.6)
x1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], #colunas numericas
                                infert.iloc[:,1], #categoria educação
                                test_size = 0.6, #tamanho amostra
                                stratify = infert.iloc[:,1]) #estraficiar na coluna idade
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64

# Amostragem Sistematica

In [ ]:
from math import ceil

In [ ]:
#Criando variaveis para representar população, amostra e k-value
populacao = 150
amostra = 15
k = ceil(populacao / amostra)
print(k)

10

In [ ]:
#definir valor randomico de inicialização da amostra, de 1 até k+1
r = np.random.randint(low = 1, high = k + 1, size=1)
print(r)

[6]

In [ ]:
#utilizacao de for para somar valores sequenciais
acumulador = r[0]
sorteados = []
for i in range(amostra):
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[6, 16, 26, 36, 46, 56, 66, 76, 86, 96, 106, 116, 126, 136, 146]

In [ ]:
len(sorteados)

15

In [ ]:
#Carregar a baseado com os valores sorteados
base_final = base.loc[sorteados]
base_final

     sepal length  sepal width  petal length  petal width            class
6             4.6          3.4           1.4          0.3      Iris-setosa
16            5.4          3.9           1.3          0.4      Iris-setosa
26            5.0          3.4           1.6          0.4      Iris-setosa
36            5.5          3.5           1.3          0.2      Iris-setosa
46            5.1          3.8           1.6          0.2      Iris-setosa
56            6.3          3.3           4.7          1.6  Iris-versicolor
66            5.6          3.0           4.5          1.5  Iris-versicolor
76            6.8          2.8           4.8          1.4  Iris-versicolor
86            6.7          3.1           4.7          1.5  Iris-versicolor
96            5.7          2.9           4.2          1.3  Iris-versicolor
106           4.9          2.5           4.5          1.7   Iris-virginica
116           6.5          3.0           5.5          1.8   Iris-virginica
126           6.2          2.8           4.8          1.8   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica